<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="DaTaConnectionString" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=DaTa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString2" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString3" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString4" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString5" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString6" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString7" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString8" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString9" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString10" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString11" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString12" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DaTaConnectionString2" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=DaTa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DaTaConnectionString3" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=DaTa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString13" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString14" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SubjectConnectionString" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=Subject;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString15" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SubjectConnectionString2" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=Subject;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuiZConnectionString16" connectionString="Data Source=MANPREET-PC\MANNA;Initial Catalog=QuiZ;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
